# 타이타닉 데이터 연습문제

타이타닉 데이터는 다음과 같은 속성으로 이루어져 있다.

- **PassengerId** : 승객번호
- **Survived**: 생존여부 1(생존), 0(사망)으로 표현됨.  
- **Pclass**: 티켓의 클래스 1 = 1st, 2 = 2nd, 3 = 3rd 클래스
- **Name** : 이름
- **Sex**	성별	male, female 
- **Age**	나이	
- **SibSp**	함께 탑승한 형제와 배우자의 수	
- **Parch**	함께 탑승한 부모, 아이의 수
- **Ticket**	티켓 번호	
- **Fare**	탑승료	
- **Cabin**	객실 번호	
- **Embarked**	탑승 항구	C = Cherbourg, Q = Queenstown, S = Southampton

1. 타이타닉 데이터를 읽어 들인다.

In [ ]:
import pandas as pd
df = pd.read_csv('../data/titanic.csv')

2. 읽어들인 데이터를 확인한다.
>- head
>- info
>- etc.

In [ ]:
df

3. 요약통계량을 확인하시오.(describe)

3. "FamilySize"라는 컬럼의 추가하시오. 
> FamilySize = SibSp + Parch

4. 생존자와 사망자의 인원수를 출력해 보시오.(0:사망 1:생존)
5. 등급별 인원수를 출력하시오.
6. 성별 인원수를 출력하시오.

7. 전체 생존율, 성별 생존율, 등급별 생존율, 성별/등급별 생존율을 출력해 보시오.  
(힌트: mean()함수를 활용)

8. 나이에 따른 생존율을 비교해 봅시다.  
10세 미만의 생존율과 60세 이상의 생존율을 출력해 보시오.

9. 동반 가족이 있는지 여부에 따른 생존율을 비교해 봅시다.  
FamilySize < 1인 경우와 FamilySize >= 1인 경우의 생존율 출력해 보시오.

10. 타이타닉호의 생존율과 관련된 요소와 관련된 결론을 작성해 보시오.